@define-color background {{colors.surface_container.default.hex}};
@define-color background_button {{colors.surface.default.hex}};
@define-color foreground {{colors.on_surface.default.hex}};
@define-color foreground_active {{colors.primary.default.hex}};

@define-color color0 {{colors.ansi.color0.default.hex}};
@define-color color1 {{colors.ansi.color1.default.hex}};
@define-color color2 {{colors.ansi.color2.default.hex}};
@define-color color3 {{colors.ansi.color3.default.hex}};
@define-color color4 {{colors.ansi.color4.default.hex}};
@define-color color5 {{colors.ansi.color5.default.hex}};
@define-color color6 {{colors.ansi.color6.default.hex}};
@define-color color7 {{colors.ansi.color7.default.hex}};